body{
    background-color: rgba(255, 245, 232, 0.425);
    color:rgb(141, 0, 24);
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

#ftv {
    font-size: 60px;
}

.buttons {
    background-color: rgba(240, 230, 217, 0.425);
    border-width: 0.07cm;
    cursor: pointer;
    border-color: rgb(141, 0, 24);
    border-radius: 15%;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:rgb(141, 0, 24);

}

#Mediterranean{
    width: 130px;
}

#stats{
    width: 130px;


}

h3{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


#savedd{
    width: 130px;
}